<div class="container">
    <div class="row">
        <img src="http://img05.deviantart.net/f5ae/i/2007/252/2/8/fakebook_by_rebelx.jpg" height="100" width="300"><br><br>
           <form action="/post/create" method="POST">
            <div class="form-group">
              <input type="text" name="tt" class="form-control" id="exampleInputEmail1" placeholder="Title">
            </div>
              <textarea name="ct" class="form-control" rows="5" placeholder="Content"></textarea><br>
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit</button><br><br>
          </form>
          <% @posts.each do |post| %>
           <div class="well">
                <p>Title: <%= post.title %></p>
                <p>Content: <%= post.content %></p>
                <p>Time: <%= time_ago_in_words(post.created_at)%>  ago</p>
                  <div class="btn-group btn-group-xs" role="group" aria-label="..."> 
                      <a href="/post/<%= post.id %>/delete"><button type="button" class="btn btn-danger btn-xs">Delete</button></a>
                      <a href="/post/<%= post.id %>/edit"><button type="button" class="btn btn-success btn-xs">Edit</button></a>
                  </div><br><br>
                     <% post.comments.each do |comment| %>
                       - <%= comment.content %><a href ="/post/<%= comment.id %>/delete1">__<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a><br>
                     <% end %>
                        <form action="/post/<%= post.id %>/comments" method="POST">
                            <textarea name="ct" class="form-control" rows="1" placeholder="Comment....."></textarea><br>
                            <button type="submit" class="btn btn-primary btn-xs">Submit</button>
                        </form>
            </div>  
          <% end %>
    </div>
</div>

